@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #101827;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* DASHBOARD */
.dashboard {
    background-image: radial-gradient(ellipse at 50% -20%, rgba(120, 119, 198, 0.3), rgba(255, 255, 255, 0));
}

/* FIN DE DASHBOARD */

/* NAVBAR */

/* Texto que acompaña al logo */
.center-vertical {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
}

.slogan {
    font-family: 'Outfit', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 1.8rem;
}

/* FIN DE NAVBAR */

/* LOGIN */

.login-bg {
    background-image: radial-gradient(ellipse at 50% -20%, rgba(120, 119, 198, 0.3), rgba(255, 255, 255, 0));
}

/* FIN DE LOGIN*/
